body {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: lightgrey;
    margin: 0;
}

/*  STYLING THE HEADER AND NAVIGATION SECION */
#main-title {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
}

header {
    background-color: red;
    
}

/*  Changing default appearance of button to fit nav better */
/* nav button {
    background-color: #333;
    border: none;
    color: white;
    text-align: center;
    font-size: 1em;
} */

nav ul{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #333;
    padding: 0px 15px;
}

/* Style list items in top level nav */
nav li {
    float: left;
    
}

nav a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
    
}

/*  Stule links in top level nav */
#top-level-nav a {
    font-size: 1em;   
}

nav li a:hover {
    background-color: #111;
  }

#categories-nav {
    font-size: 1.2em;
}

#categories-nav a {
    
    padding: 20px 15px;
    
}

/*  STYLING OF LIST ITEMS */

section {
    /* margin: 20px; */
}

#extinct-list {
    list-style: none;
    display: flex;  /* Makes list items flexible according to screen size */
    flex-wrap: wrap;
    
}

#extinct-list li {
    border: 1px solid #333;
    min-width: 220px;
    margin: 15px;
    padding: 30px;
    
}

#extinct-list h3 {
    position: relative;
    top: 40px;

}


/*   STYLING ADD ANIMAL SECTION */

#subheader {
    background-color: #333;
    font-size: 1em;
    color: white;
    text-align: center;
    padding: 1px;
    margin-bottom: 20px;
    margin: 0 0 20 0;
}

/*  STYLING FOOTER */

footer {
    font-size: 0.8em;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 1px;
}